/* SLIDER SECTION */
/* body{
    padding: 0;
    margin: 0;
}

#content {
    position: absolute;
    right: 10;
    display: flex;
    text-align: center;
    justify-content: space-between;
    align-items: center;
    padding-top: 20%;
    padding-bottom: 15%;
    width: 100%;
    height: 30%;
    margin-bottom: 10%;
    background-color: rgba(51, 50, 50, 0.5);
    color: white;
}

#content>div>i {
    color: black;
    background-color: white;
    font-size: 2rem;
    padding: 30%;
}
#content > div:nth-child(3){
    padding: 1%;
}
#content>div>i:hover {
    background-color: #b5876d;
    color: white;
}

#content>div:nth-child(2) {
    text-align: center;
    width: 50%;
}

#content>div:nth-child(2) h1 {
    font-size: 4rem;
}

#content>div:nth-child(2) button {
    padding: 1% 4%;
    font-size: 1rem;
    font-weight: 700;
    color: #b5876d;
    background-color: none;
    border: none;
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: none;
    background-color: rgba(51, 50, 50, 0.327);
}

#content>div:nth-child(2) button:hover {
    top: 0;
    height: 100%;
    background-color: #b5876d;
    color: white;
} */



/* SLIDER SECTION ENDS */

/* ABOUT US SECTION START */

#about_size {
    /* padding: 1% 10%;
    padding-top: 45%; */
    position: relative;
    margin-top: 0%;
}

#about_size>div {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-left: 5%;
    margin-right: 5%;
    row-gap: 10px;
}

#about_size > div > div:first-child {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    column-gap: 30px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    padding: 5%;
    margin-left: 10%;
    background-color: white;
}

#about_size>div>div:first-child>div {
    border: 1px solid black;
    padding: 10px;
}

#about_size>div>div:first-child>div>input,
#about_size>div>div:first-child>div>select,
#about_size>div>div:first-child>div>button {
    font-size: large;
    border: none;
    background: none;
}
#about_size>div>div:first-child>div:last-child{
    background-color: #b5876d;
}
#about_size>div>div:first-child>div:last-child:hover{
    background-color: black;
}
#about_size>div>div:first-child>div:last-child>button{
    color: white;
}

#about_size>div>div:nth-child(2)>div {
    display: flex;
    flex-direction: row;
    padding-top: 20%;
    column-gap: 30px;
    padding-left: 0%;
}

#about_size>div>div:nth-child(2)>div>div:first-child {
    position: relative;
}

#about_size>div>div:nth-child(2)>div>div:first-child>div {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(51, 50, 50, 0.327);
    overflow: hidden;
    width: 100%;
    height: 0%;
    transition: 0.5s ease;
}

#about_size>div>div:nth-child(2)>div>div:first-child:hover>div {
    top: 0;
    height: 100%;
}

#about_size>div>div:nth-child(2)>div>div:first-child>div>i {
    position: absolute;
    top: 50%;
    left: 45%;
    font-size: 4rem;
    color: white;
}

#about_size>div>div:nth-child(2)>div>div:nth-child(2) {
    display: flex;
    flex-direction: column;
    margin-top: -2%;
}

#about_size>div>div:nth-child(2)>div>div:nth-child(2)>div {
    display: flex;
    column-gap: 10px;
}

#about_size>div>div:nth-child(2)>div>div:nth-child(2)>div>div {
    padding: 2% 3%;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

#about_size>div>div:nth-child(2)>div>div:nth-child(2)>div>div>i {
    color: #b5876d;
}

#about_size>div>div:nth-child(2)>div>div:nth-child(2)>div>div:hover {
    background-color: #b5876d;
}

#about_size>div>div:nth-child(2)>div>div:nth-child(2)>div>div:hover>i {
    color: white;
    background-color: #b5876d;
}

/* ABOUT US SECTION ENDS */

/* ABOUT ROOMS SECTION STARTS */


#about_rooms>div {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    margin-top: 5%;
}

#about_rooms>div>div:first-child {
    text-align: center;
    padding: 0 25%;
}

#about_rooms>div>div:nth-child(2) {
    display: flex;
    position: relative;
}

#about_rooms>div>div:nth-child(2)>div {
    position: relative;
    border: 1px solid black;
}
/* #about_rooms>div>div:nth-child(2)>div>img{
    width: 350px;
} */
#about_rooms>div>div:nth-child(2)>div>div {
    position: absolute;
    color: white;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(51, 50, 50, 0.327);
    overflow: hidden;
    width: 100%;
    height: 0%;
    transition: 0.5s ease;
}

#about_rooms>div>div:nth-child(2)>div:hover>div {
    top: 0;
    height: 100%;
    overflow: hidden;
}

#about_rooms>div>div:nth-child(2)>div>div {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top: 40%;
}
#about_rooms button{
    background-color: #b5876d;
    border: none;
    padding: 2%;
    color: white;
}
#about_rooms button:hover{
    color: #b5876d;
    background-color: white;
}

/* ABOUT ROOMS SECTION ENDS */

/* ABOUT SERVICES SECTION STARTS */

#about_services {
    padding: 1% 10%;
    margin-top: 5%;
}

#about_services>div>div:first-child {
    text-align: center;
}

#about_services>div>div:nth-child(2) {
    display: flex;
    column-gap: 30px;
}

#about_services>div>div:nth-child(2)>div:first-child {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
}

#about_services>div>div:nth-child(2)>div:first-child>div {
    display: flex;
    flex-direction: row;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
        rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    column-gap: 30px;
    row-gap: 1px;
    padding: 2%;
    height: auto;
}

#about_services>div>div:nth-child(2)>div:first-child>div:first-child {
    background-color: #b5876d;
    color: white;
}

#about_services>div>div:nth-child(2)>div:first-child>div>div:first-child {
    padding: 1%;
    text-align: center;
    justify-content: center;

}

#about_services>div>div:nth-child(2)>div:first-child>div>div>img {
    padding-top: 50%;
    padding-left: 30%;
}

#about_services>div>div:nth-child(2)>div:first-child>div>div>h2 {
    margin-top: 1%;
}

/* ABOUT SERVICES SECTION ENDS */

/* FUN FACTOR AREA STARTS */
#funfactor_area {
    margin: 8% 0;
}

#funfactor_area>div {
    padding: 5% 10%;
    background-color: rgba(51, 50, 50, 0.85);
}

#funfactor_area>div>div {
    display: flex;
    justify-content: space-between;
    color: white;
}

#funfactor_area>div>div>div {
    text-align: center;
    letter-spacing: 2px;
}

#funfactor_area>div>div>div h1 {
    font-size: 4rem;
}

#funfactor_area>div>div>div p {
    font-size: 1.2rem;
}

/* FUN FACTOR AREA ENDS */

/* GALLERY SECTION STARTS HERE */

#gallery_area{
    margin-top: -10%;
}
#gallery_area>#container_text,
#gallery_area>#container_images {
    display: flex;
    flex-direction: column;
    padding: 5% 10%;
    align-items: center;
}

#gallery_area>#container_text>div {
    text-align: center;
}

#gallery_area>#container_text>div:nth-child(2) {
    width: 70%;
}

#gallery_area>#container_images {
    padding: 0;
    margin-top: -5%;
}

#gallery_area>#container_images>#image_filter {
    display: flex;
    column-gap: 25px;
    font-size: x-large;
}

#gallery_area>#container_images>#image_container img {
    width: 100%;
    height: 100%;
}

#gallery_area>#container_images>#image_container {
    display: flex;
    flex-direction: row;
}

#gallery_area>#container_images>#image_container>div {
    /* border: 1px solid black; */
}

/* GALLERY SECTION ENDS HERE */

/* TEAM AREA SECTION STARTS */

#team_area {
    padding-left: 2%;
    padding-right: 2%;
}

#team_area>#team_area_container {
    display: flex;
    flex-direction: column;
}

#team_area>#team_area_container>#team_area_text {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

#team_area>#team_area_container>#team_area_text>div:nth-child(2) {
    width: 60%;
}

#team_area>#team_area_container>#team_area_staff {
    display: flex;
    position: relative;
    column-gap: 10px;
    justify-content: center;
}

#team_area_staff>.staff_profile {
    position: relative;
    /* border: 1px solid black; */
}

#team_area_staff>.staff_profile>div {
    color: white;
    text-align: center;
    align-items: center;
    /* padding: 5% 10%; */
    position: absolute;
    /* height: 50%;
    top: 42.5%; */
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(51, 50, 50, 0.85);
    overflow: hidden;
    /* width: 100%; */
    height: 0%;
    transition: 0.5s ease;
}

#team_area_staff>.staff_profile>img:hover~div,
#team_area_staff>.staff_profile>div:hover {
    /* top: 50%; */
    height: 50%;
    bottom: 50;
    overflow: hidden;
}

#team_area_staff>.staff_profile>div>div {
    display: flex;
    justify-content: space-around;
    margin: 0 30%;
    font-size: x-large;
}

#team_area_staff>.staff_profile>div>div>i:hover {
    color: #b5876d;
}

/* TEAM AREA SECTION ENDS */

/* ADVERTISEMENT AREA STARTS */

#advertisement_area {
    margin: 2% 0;
}

#advertisement_area>div {
    padding: 2% 10%;
    background-color: rgba(51, 50, 50, 0.85);
    color: white;
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
}

#advertisement_area>div>div>h1 {
    font-size: 3rem;
}

#advertisement_area>div>div>h1>span {
    color: #b5876d;
}

#advertisement_area>div>div>button {
    padding: 5% 10%;
    width: 150px;
    height: 50px;
    font-size: 1rem;
    font-weight: 700;
    color: white;
    background-color: #b5876d;
    border: none;
}

#advertisement_area>div>div>#overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: white;
    color: #b5876d;
    font-size: 1rem;
    font-weight: 700;
    overflow: hidden;
    height: 0%;
    transition: 0.5s ease;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

#advertisement_area>div>div>button:hover~#overlay,
#advertisement_area>div>div>button~#overlay:hover {
    top: 0%;
    height: 100%;
    overflow: hidden;
}

/* ADVERTISEMENT AREA ENDS */

/* PRICING AREA STARTS */

#pricing_area_container {
    padding: 1% 2%;
}

#pricing_area_container>#pricing_area_text {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
}

#pricing_area_container>#pricing_area_text>div:nth-child(2) {
    width: 60%;
    align-items: center;
}

#pricing_area_container>#pricing_area_rooms {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 20px;
    padding: 5%;
}

#pricing_area_container>#pricing_area_rooms>.rooms_container {
    display: flex;
    flex-direction: column;
    text-align: center;
    border-top: 1px solid #b5876d;
    border-bottom: 1px solid #b5876d;
}

.rooms_container>div:first-child,
.rooms_container>div:nth-child(3) {
    background-color: #f1f1f1;
}

.rooms_container>div:nth-child(2) {
    display: flex;
    justify-content: center;
    column-gap: 5px;
    font-weight: 900;
    font-size: large;
    /* align-items: center; */
}

.rooms_container>div:nth-child(2)>span {
    padding-top: 25px;
}

.rooms_container>div:nth-child(2)>p {
    padding-top: 20px;
}

.rooms_container>div:nth-child(3) {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    padding: 10%;
    color: #606060;
}

.rooms_container>div:nth-child(3)>div:first-child {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.rooms_container>div:nth-child(3)>div:nth-child(2),
.rooms_container>div:nth-child(3)>div:nth-child(2)>div {
    position: relative;
    width: 50%;
    display: flex;
    justify-content: center;
    align-self: center;
}

.rooms_container>div:nth-child(3)>div:nth-child(2)>div>button {
    padding: 10% 10%;
    border: none;
    background-color: white;
    font-size: medium;
    width: 300px;
    font-weight: 700;
    color: #606060;
}

.rooms_container>div:nth-child(3)>div:nth-child(2)>div>#overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #b5876d;
    color: white;
    font-size: 1rem;
    font-weight: 700;
    overflow: hidden;
    height: 0%;
    transition: 0.5s ease;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.rooms_container>div:nth-child(3)>div:nth-child(2)>div>button:hover~#overlay,
.rooms_container>div:nth-child(3)>div:nth-child(2)>div>#overlay:hover {
    top: 0%;
    height: 100%;
    overflow: hidden;
}

/* PRICING AREA ENDS */

/* BLOG AREA STARTS */

#blog_area {
    /* padding-left: 2%;
    padding-right: 2%; */
    padding-bottom: 5%;
}

#blog_area_container {
    display: flex;
    flex-direction: column;
    row-gap: 40px;
}

#blog_area_container>#text_container {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-content: center;
    justify-content: center;
}

#blog_area_container>#text_container>div:nth-child(2) {
    width: 50%;
    align-self: center;
    margin-top: 0;
}

#blog_area_container>#blog_posts {
    display: flex;
    column-gap: 50px;
    padding-left: 5%;
    padding-right: 5%;
}

#blog_posts>.blog_post_card {
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, 
                rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    display: flex;
    flex-direction: column;
    /* row-gap: 20px; */
    position: relative;
}
#blog_posts > .blog_post_card > div:nth-child(2){
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    justify-content: center;
    align-items: center;
    padding: 10%;
    
}
#blog_posts > .blog_post_card > div:nth-child(2) > div:first-child{
    color: #c2c2c2;
}
.blog_post_card > div:nth-child(2) > #overlay{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    position: relative;
    background-color: white;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    height: 0;
    transition: 0.5s ease;
    display: flex;
    text-align: center;
    justify-content: center;
    /* align-items: center; */
}
.blog_post_card:hover > div:nth-child(2) > #overlay,
.blog_post_card > div:nth-child(2) > #overlay:hover{
    top: 0;
    height: 100%;
    overflow: hidden;
    /* bottom: 100; */
}
.blog_post_card > div:nth-child(2) > #overlay > div{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    justify-content: center;
    align-content: center;
    align-items: center;
}
.blog_post_card > div:nth-child(2) > #overlay > div:first-child > div:first-child,
.blog_post_card > div:nth-child(2) > #overlay > div:nth-child(3) > div{
    color: #c2c2c2;
}
.blog_post_card > div:nth-child(2) > #overlay > div:nth-child(3){
    display: flex;
    flex-direction: row;
    column-gap: 20px;
    font-size: small;
}
.blog_post_card > div:nth-child(2) > #overlay > div:nth-child(4) > div{
    padding: 5%;
    background-color: #b5876d;
    position: relative;
}
.blog_post_card > div:nth-child(2) > #overlay > div button{
    border: none;
    background: none;
    color: white;
}
.blog_post_card > div:nth-child(2) > #overlay > div:nth-child(4) #overlay_1{
    color: #b5876d;
    background-color: black;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    height: 0%;
    transition: 0.5s ease;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.blog_post_card > div:nth-child(2) > #overlay > div:nth-child(4) > div:hover > #overlay_1,
.blog_post_card > div:nth-child(2) > #overlay > div #overlay_1:hover{
    top: 0%;
    height: 100%;
    overflow: hidden;
}

/* BLOG AREA ENDS */

/* CLIENT AREA STARTS */

#client_area{
    padding: 5% 10%;
}
#client_area > #client_area_container{
    display: flex;
    justify-content: space-around;
}
#client_area > #client_area_container > div{
    position: relative;
}
#client_area > #client_area_container > div > #overlay_image{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    height: 0%;
}
#client_area > #client_area_container > div:hover > #overlay_image{
    top: 0%;
    height: 100%;
    overflow: hidden;
}


/* CLIENT AREA ENDS */


/* NEWSLETTER AREA STARTS */

#newsletter_area{
    padding: 5% 10%;
    background-color: #f8f9fa;
    letter-spacing: 1px;
}
#newsletter_area_container{
    padding-left: 5%;
    padding-right: 5%;
}
#newsletter_area_container > div{
    display: flex;
    column-gap: 50px;
    justify-content: center;
    align-items: center;
}
#newsletter_area_container > div > div > form{
    border: 1px solid black;
    display: flex;
}
#newsletter_area_container > div > div > form > input{
    border: none;
    background-color: transparent;
    width: 300px;
    padding: 2%;
}
#newsletter_area_container > div > div > form > div{
    background-color: #b5876d;
    padding: 3%;
}
#newsletter_area_container > div > div > form > div > button{
    background-color: transparent;
    border: none;
    /* padding: 10%; */
    width: 100%;
}
#newsletter_area_container > div > div > form > div > #overlay_button{
    color: white;
    background-color: black;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    transition: 0.5s ease;
    height: 0%;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}
#newsletter_area_container > div > div > form > div:hover > #overlay_button{
    top: 0%;
    height: 100%;
    overflow: hidden;
} 

/* NEWSLETTER AREA ENDS */

